@charset "UTF-8";

.main {
	margin-top: 12px;
	width: 100%;
	/* The image used */
	background-image:
		url(../img/living-room.jpg);
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.my-header {
	margin-top: 90px;
}

.slogan-title-golden {
	font-weight: bold;
	color: goldenrod;
}

.slogan-main-title {
	font-weight: bold;
}

.register-form {
	background-color: white;
	margin-bottom: 20px;
}

.form-title {
	margin-top: 20px;
	font-weight: bold;
}

.datepicker td, .datepicker th {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 0.85rem;
}

.datepicker {
	margin-bottom: 3rem;
}

.get-in-touch {
	margin-bottom: 20px;
}

.result-form {
	padding: 20px;
}

#result-section {
	padding: 50px;
}